<h1>Configure Tests</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for form in formset %}
        <table border=1>
        {{ form }}
        </table>
        <br>
        <br>
    {% endfor %}
    <button type="submit">Run Tests</button>
</form>
<font color='red'>If you select the "AWS Test Server", make sure to start the EC2 server (link found on the home page). Otherwise the test will not work.</font>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
