Ok! Running tests...
<br>
<br>
You won't be notified when they're finished, but a test that is still running will be shaded red on the results page. 
<br>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
<br>
