<h1>Select Tests to Run</h1>
<form method="get" action="{% url 'soundcomm:config_test' %}">
{% csrf_token %}
<table border=1>
        <td>Use Test?
        <td>Test Name
        <td>Description
        <td>Last Run</td>
{% for name, desc, last_run in test_info %}
    <tr>
        <td><input type="checkbox" value="{{ name }}" name="selected_tests">
        <td>{{ name }}
        <td>{{ desc }}
        <td>{{ last_run }}</td> 
{% endfor %}
</table>
<br>
<button type="submit">Submit & Config</button>
</form>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
