<!-- 
    This template is imported whenever a page has a sound-filter form
    One must still include the csrf_token, form.errors, and
    form.non_field_errors in whatever template which includes this
-->
{% load static %}
</tr>
    <td><strong>Word Filter:</strong></td>
</tr>
    <td>Sex, Starts w/, Language</td>
    <td>{{ form.sex }} {{ form.language }}</td>
</tr>
<tr>
    <td>Speaker Name, Type-of-Voice<br>Num. Words, Num. Syllables</td>
    <td>{{ form.speaker_name }} {{ form.voice }} {{ form.num_words }} {{ form.num_syllables }}</td>
</tr>
<tr>
    <td><hr/></td>
    <td><hr/></td>
</tr>
<tr>
    <td><strong>Phrase:</strong></td>
    <td>{{ form.unique_phrase }}</td>
<tr>
    <td><strong>Recordings:</strong></td>
    <td>{{ form.sounds_to_send }}</td>
</tr>

<script type="text/javascript" src="{% static 'javascript/play_sound.js' %}"></script>

