{% load static %}
<html>
    <body>
        <h1>Associate Sounds</h1>
        For each master sound, please select which sounds you'd like to send to the server.

        <!-- Begin Formset -->
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.errors }}
                {{ form.non_field_errors }} 
                <table frame='box'>
                    {{ form.sound_pk }}
                <tr>
                    <td><strong>Language:</strong></td>
                    <td>{{ form.sound_language }} {{ form.sound_language.value }}</td>
                </tr>
                <tr>
                    <td><strong>Master Phrase1:</strong></td>
                    <td>{{ form.master_phrase1 }} {{ form.master_phrase1.value }} </td>
                </tr>
                <tr>
                    <td><strong>Master Phrase2:</strong></td>
                    <td>{{ form.master_phrase2 }} {{ form.master_phrase2.value }}</td>
                </tr>
                <tr>
                    <td>
                        <a href='javascript:void(0); // Play Sound' pk='{{ form.sound_pk.value }}' id='{{ form.sound_pk.value }}' onclick='play_sound(this)'>
                            <img src='{% static 'images/speaker_icon.PNG' %}'>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td><hr/></td>
                    <td><hr/></td>
                </tr>
                {% include 'soundtests/_filterform.html' with form=form %}
                </table>
                <br>
                <br>
            {% endfor %}
            <button type="submit">Create Test</button>
        </form>

        <a href="{% url 'soundtests:index' %}">Back to Home</a>

        <!-- Scripts -->
        <script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/filter_sounds.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/play_sound.js' %}"></script>
    </body>
</html>



