{% load static %}
<html>
    <body>
        <h1>Create New Test</h1>
        Please include a descriptive title and a detailed description of what you're testing. For example,
        an appropriate title would be: "Single Consonant Substitution in Short, English words"
        <br>
        <br>
        Choosing a sound from the below form and clicking the "Add Selected Sounds to Test" button will
        do exactly that (add a sound to the test). Clicking the "Associate Sounds" button will finalize
        the master-sounds of your test and redirect to a page where one can associate user sounds to 
        each master sound. Checking the "Master-to-Master" box means that each master sound will be sent
        to itself (there is therefore no need to redirect to the associate-sounds page)
        <form method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <table>
                <tr>
                    <td><strong>Test Name:</strong></td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td><strong>Description:</strong></td>
                    <td>{{ form.description }}</td>
                </tr>
                {% include "soundtests/_filterform.html" with form=form %}
                <tr>
                    <td><strong>Master-to-Master?</strong></td>
                    <td>{{ form.master_to_master_test }}</td>
                </tr>
            </table>
            <button type="button" onclick=add_sound()>Add Selected Sounds to Test</button>
            <br>
            <br>
            <div id="master_sounds">
                {{ form.master_sounds }}
            </div>
            <table id="test_table" border=1>
                <tr>
                    <td><strong>Language</strong></td>
                    <td><strong>Phrase 1</strong></td>
                    <td><strong>Phrase 2</strong></td>
                </tr>
            </table>
            <br>
            <br>
            <button type='submit'>Associate Sounds</button>
        </form>
        <a href="{% url 'soundtests:index' %}">Back to Home</a>

        <!-- Scripts -->
        <script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/filter_sounds.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/add_sound.js' %}"></script>
    </body>
</html>
