<http>

<h1>Soundstat - Sound Server Testing</h1>
<h2>Upload Materials</h2>
<a href={% url 'soundtests:upload_sound' %}>Upload Sounds</a>
<br>
<a href ={% url 'soundtests:upload_lesson' %}>Upload Lesson JSON</a>
<br>
<h2>Testing</h2>
<a href={% url 'soundtests:create_test' %}>Create New Test</a>
<br>
<a href={% url 'soundtests:view_tests' %}>View Test Contents</a>
<br>
<a href={% url 'soundcomm:select_test' %}>Run Test/s</a>
<br>
<h2>Results</h2>
<a href={% url 'soundresults:view_tests' %}>View Test Results</a>
<h2>Links</h2>
<a href='/flower'>Flower - Task Monitoring & Management</a> (When running tests, the tasks can be monitored via here)
<br>
[REDACTED]
</http>
