<h1>Upload Lesson</h1>
Upload lesson JSON. To aquire JSON for a particular lesson, open Fiddler and access the list. 
Make sure it is a list. To the left of the title will be an icon that looks like this:
<br> 
<img src=/static/images/list_icon.PNG>
<br>
<br>
In Fiddler, look at the requests whose HOSTs are either "192.168.254.77" or sound.transparent.com
(these are the IPs of the TEST sound server and LIVE sound server respectively; whichever one 
you're on will be the one that shows up). 
<br>
<br>
Generally, the request you're looking for has a BODY
of 23. When clicking on it and setting the view to JSON, you should see JSON that begins with 
"activityType=pron". When you find this request, right click it, click Save, Request, Request Body.
This file is the one you want to upload here.
<br>
<br>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
    {{ form }}
</table>
<br>    
<button type="submit">Classify this Lesson's Sounds</button>
<br>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
