<meta charset='utf-8'>
<h1>Classify Lesson's Sounds</h1>
<h3>
    Language: {{ language }}
    <br>
    Lesson Name: {{ lesson }}
    <br>
    Lesson Name (in TLO's JSON): {{ list }}
    <br>
    Number of Words: {{ num_words }}
</h3>
Typically, "Phrase1" is the English translation of the phrase, and "Phrase2" is the phrase written in its original language. (Since the sounds are not yet saved into the database, they must be played from TLO's URL; if the lesson is on education.transparent.com, sometimes this does not work). 
<br>
<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        <table frame='box'>
            <tr><a href="javascript:void(0);" onclick="javascript:sound = new Audio('{{ form.url.value }}'); sound.play()">Play Sound</a></tr>
            {{ form }}
        </table>
        <br>
        <br>
    {% endfor %}
    <button type="submit">Submit Sounds</button>
</form>
<br>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
