<html>
    <body>
    <h1>Classify Lesson's Sounds</h1>
    <h3>
        Learning Language: {{ formset.lesson_dict.learning_language }}
        <br>
        Known Language: {{ formset.lesson_dict.known_language }}
        <br>
        Lesson Name: {{ formset.lesson_dict.lesson_name }}
        <br>
        Lesson Name (in TLO's JSON): {{ formset.lesson_dict.json_name }}
        <br>
        Number of Words: {{ formset.forms|length }}
    </h3>
Typically, "Phrase1" is the English translation of the phrase, and "Phrase2" is the phrase written in its original language. (Since the sounds are not yet saved into the database, they must be played from TLO's URL; if the lesson is on education.transparent.com, sometimes this does not work). 
<hr>
<br>
<br>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ formset.subform.errors }}
                {{ formset.subform }} 
            </table>
            <br>
            <br>
            {{ formset.management_form }}
            {% for form in formset %}
                <table frame="box">
                    {{ form }}
                    <br>
                </table>
            {% endfor %}
            <br>
            <button type=Submit>Submit</button>
        </form>
        <br>
        <a href="{% url 'soundtests:index' %}">Back to Home</a>
    </body>
</html>
