<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Upload Sound</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Upload or Record Sound</h1>
        Please upload or record your sound/s. 
        <br>
        <br>
        If multiple sounds have the same information (i.e. - You'd like
        to upload several different recordings of the same word), put these 
        files in the same directory and select all of them after clicking
        the "Browse" button.
        <br>
        <br>
        <br>

        <!-- Beginning of Sound Form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
            {{ form }} 
            </table>
            <button type="submit">Submit File/s</button>
        </form>

        <!-- Beginning of the Recording Module -->
        <h2>Record Sound</h2>
        <table id='error_table'>
            <tbody>
            </tbody>
        </table>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
        <div id="formats">Format: start recording to see sample rate</div>
        <h3>Recordings</h3>
        <ol id="recordingsList"></ol>

        <!-- Scripts -->
        <script src="{% static 'javascript/recorder.js' %}"></script>
        <script src="{% static 'javascript/recorder_app.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>
        <br>
        <a href="{% url 'soundtests:index' %}">Back to Home</a>
    </body>
</html>
