<head>
{% load static %}
<!--<meta http-equiv="Content-type" content="text/html; charset=utf-8" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jscript_functions.js' %}"></script>
</head>
<body>


<h1>Upload or Record Sound</h1>
Please upload or record your sound/s. 
<br>
<br>
If multiple sounds have the same information (i.e. - You'd like
to upload several different recordings of the same word), put these files in the same directory
and select all of them after clicking the "Browse" button. Double click a master sound to play its audio. Single click to fill the form with appropriate information (changing the speaker name and any other such things as needed).
<br>
<br>
<hr>
<h3>Sound Info (Required)</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    <button type="submit">Submit</button>
</form>

<div id="container">
    <div id="player">
        <h3>Recording</h3>
        <table id="error_table">
            <tbody>
            </tbody>
        </table>
        <div id="controls">
            <button id="recordButton">Record</button>
            <button id="pauseButton" disabled>Pause</button>
            <button id="stopButton" disabled>Stop</button>
        </div>
        <div id="formats">Format: start recording to see sample rate</div>
        <h3>Recordings</h3>
        <ol id="recordingsList"></ol>

    </div>
</div>
<br>
<p id="counter">Submitted Recordings: 0</p>
<br>
<table>
    <tr>
        <td><strong>Word Filter:</strong></td>
    </tr>
        <td>Sex, Starts w/, Language</td>
        <td>{{ available_masters.sex }} {{ available_masters.starts_with }} {{ available_masters.language }}</td>
    </tr>
    <tr>
        <td>Speaker Name, Type-of-Voice<br>Num. Words, Num. Syllables</td>
        <td>{{ available_masters.speaker }} {{ available_masters.voice }} {{ available_masters.num_words }} {{ available_masters.num_syllables }}</td>
    </tr>
    <tr>
        <td><hr/></td>
        <td><hr/></td>
    </tr>
    <tr>
        <td><strong>Phrase:</strong></td>
        <td>{{ available_masters.unique_phrase }}</td>
    <tr>
        <td><strong>Master Sounds:</strong></td>
        <td>{{ available_masters.sounds_to_send }}</td>
    </tr>
</table>

<br>
<script type="text/javascript" src="{% static 'recorder.js' %}"></script>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
Credit for recording features goes to Daniel Storey: <a href="https://github.com/danielstorey/WebAudioTrack">https://github.com/danielstorey/WebAudioTrack</a>
</body>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
