<head>
<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/jscript_functions.js"></script>
</head>

<h2>{{ test.name }}</h2>
<strong>Last Run:</strong> {{ test.last_run }}
<br>
<strong>Description:</strong> {{ test.description }}
<br>
<strong>Associated Lessons:</strong>
{% for lesson in lessons %}
<a href="{% url 'soundtests:lesson_contents' lesson_key=lesson.pk %}">{{ lesson.lesson_name }}</a>, 
{% endfor %}
<br>
<h3>Test Pairs</h3>
<table border=1>
    <tr>
        <td><strong>Master Phrase 1 (Server Sound)</strong></td>
        <td><strong>Master Phrase 2 (Server Sound)</strong></td>
        <td><strong>User Phrase 1 (Sound to Send)</strong></td>
        <td><strong>User Phrase 2 (Sound to Send)</strong></td>
    </tr>
    {% for pair in test_pairs %}
    <tr>
        <td>{{ pair.master_sound.phrase1 }}</td>
        <td><a id="master-{{ forloop.counter }}" pk="{{ pair.master_sound.sound_hash }}" onClick=play_sound(this)>{{ pair.master_sound.phrase2 }}</a></td>
        <td>{{ pair.user_sound.phrase1 }}</td>
        <td><a id="user-{{ forloop.counter }}" pk="{{ pair.user_sound.sound_hash }}" onClick=play_sound(this)>{{ pair.user_sound.phrase2 }}</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
