<table border=1>
    <tr>
        <td><strong>Lesson Name</strong></td>
        <td><strong>Lesson Name (in TLO)</strong></td>
        <td><strong>Learning Language</strong></td>
        <td><strong>Known Language</strong></td>
    </tr>
    {% for lesson in lessons %}
    <tr>
        <td><a href="contents/{{ lesson.pk }}/" >{{ lesson.lesson_name }}</a></td>
        <td>{{ lesson.json_name }}</td>
        <td>{{ lesson.learning_language }}</td>
        <td>{{ lesson.known_language }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
