<head>
<script type="text/javascript" src="{{ STATIC_URL }}/static/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/jscript_functions.js"></script>
</head>

<h2>{{ lesson.lesson_name }}</h2>
<strong>Name (in TLO):</strong> {{ lesson.json_name }}
<br>
<strong>Learning Language:</strong> {{ lesson.learning_language }}
<br>
<strong>Known Language:</strong> {{ lesson.known_language }}
{% for lesson in lessons %}
{{ lesson.lesson_name }}, 
{% endfor %}
<br>
<h3>Words</h3>
<table border=1>
    <tr>
        <td><strong>Phrase 1</strong></td>
        <td><strong>Phrase 2</strong></td>
    </tr>
    {% for word in words %}
    <tr>
        <td>{{ word.phrase1 }}</td>
        <td><a id="phrase2-{{ forloop.counter }}" pk="{{ word.sound_hash }}" onClick=play_sound(this)>{{ word.phrase2 }}</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
