<html>
<h2>{{ test.name }}</h2>
<strong>Last Run:</strong> {{ test.last_run }}
<br>
<strong>Description:</strong> {{ test.description }}
<br>
{% for lesson in lessons %}
<a href="{% url 'soundtests:view_lesson_contents' lesson_key=lesson.pk %}">{{ lesson.lesson_name }}</a>, 
{% endfor %}
<br>
<h3>Test Pairs</h3>
<table border=1>
    <tr>
        <td><strong>Master Phrase 1 (Server Sound)</strong></td>
        <td><strong>Master Phrase 2 (Server Sound)</strong></td>
        <td><strong>User Phrase 1 (Sound to Send)</strong></td>
        <td><strong>User Phrase 2 (Sound to Send)</strong></td>
    </tr>
    {% for pair in test.pairs_to_test.all %}
    <tr>
        <td>{{ pair.master_sound.phrase1 }}</td>
        <td>{{ pair.master_sound.phrase2 }}</td>
        <td>{{ pair.user_sound.phrase1 }}</td>
        <td>{{ pair.user_sound.phrase2 }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
</html>
