<html>
    {# Table to show tests #}
    <table border=1>
        <tr>
            <td>Test Name</td><td>Description</td><td>Last Run Date</td>
        </tr>
        {% for test in soundtests %}
        <tr>
            <td><a href={% url 'soundtests:view_test_contents' test_slug=test.slug %}>{{ test.name }}</a></td>
            <td>{{ test.description }}</td>
            <td>{{ test.last_run }}</td>
        </tr>
        {% endfor %}
    </table>

    {# Pagination Section #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                <a href='?page={{ page_obj.next_page_number }}'>next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <br>
    <br>
    <a href={% url 'soundtests:index' %}>Back to Home</a>
</html>
