<table border=1>
    <tr>
        <td><strong>Test Name</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>Last Run</strong></td>
    </tr>
    {% for test in tests %}
    <tr>
        <td><a href="contents/{{ test.pk }}/" >{{ test }}</a></td>
        <td>{{ test.description }}</td>
        <td>{{ test.last_run }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
