{% load static %}
<h2>{{ config }}</h2>
<br>
<br>

<table border=1>
    <tr>
        <td><strong>Master Sound</strong></td>
        <td><strong>User Sound</strong></td>
        <td><strong>Score</strong></td>
        <td><strong>Compare Time</strong></td>
    </tr>
        {% for datum in data %}
            <tr>
                <td pk='{{ datum.sounds.master_sound.pk }}' onclick='play_sound(this)'>{{ datum.sounds.master_sound.phrase2 }}</td>
                <td pk='{{ datum.sounds.user_sound.pk }}' onclick='play_sound(this)'>{{ datum.sounds.user_sound.phrase2 }}</td>
                <td><a href={% url 'soundresults:view_segments' test_slug=test_slug config_pk=config.pk datum_pk=datum.pk %}>{{ datum.score }}</a></td>
                <td>{{ datum.compare_time }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>

{# Pagination Section #}
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href='?page={{ page_obj.next_page_number }}'>next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
<br>
<br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
<!-- Scripts -->
<script type="text/javascript" src="{% static 'javascript/play_sound.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.min.js' %}"></script>


