<h2>
    Segments of {{datum}} from<br>
    {{config}}
</h2>
<br>
<br>

<table border=1 id='segment_table'>
    <tr>
        <td><strong>Type of Speech</strong></td>
        <td><strong>Text</strong></td>
        <td><strong>Transcription</strong></td>
        <td><strong>Score</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Master Start</strong></td>
        <td><strong>Master End</strong></td>
        <td><strong>User Start</strong></td>
        <td><strong>User End</strong></td>
    </tr>
        {% for word in segments %}
            <tr depth='0'>
                <td>{{ word.type_of_speech }}</td>
                <td>{{ word.text }}</td>
                <td>{{ word.transcription }}</td>
                <td>{{ word.score }}</td>
                <td>{{ word.raw_status }}</td>
                <td>{{ word.master_start }}</td>
                <td>{{ word.master_end }}</td>
                <td>{{ word.user_start }}</td>
                <td>{{ word.user_end }}</td>
            </tr>
            {% for syllable in word.segments.all %}
                <tr depth='1'>
                    <td style='padding-left:30px;'>{{ syllable.type_of_speech }}</td>
                    <td>{{ syllable.text }}</td>
                    <td>{{ syllable.transcription }}</td>
                    <td>{{ syllable.score }}</td>
                    <td>{{ syllable.raw_status }}</td>
                    <td>{{ syllable.master_start }}</td>
                    <td>{{ syllable.master_end }}</td>
                    <td>{{ syllable.user_start }}</td>
                    <td>{{ syllable.user_end }}</td>
                </tr>

                {% for phoneme in syllable.segments.all %}
                    <tr depth='3'>
                        <td style='padding-left:60px;padding-right:10px'>{{ phoneme.type_of_speech }}</td>
                        <td>{{ phoneme.text }}</td>
                        <td>{{ phoneme.transcription }}</td>
                        <td>{{ phoneme.score }}</td>
                        <td>{{ phoneme.raw_status }}</td>
                        <td>{{ phoneme.master_start }}</td>
                        <td>{{ phoneme.master_end }}</td>
                        <td>{{ phoneme.user_start }}</td>
                        <td>{{ phoneme.user_end }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
    <br>
    <br>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
