<h2>{{ name }}</h2>
<br>
<br>

<form action={% url 'soundresults:generate_csv' %} method='POST'>
    {% csrf_token %}
    <table border=1>
        <tr>
            <td></td>
            <td><strong>JSession ID</strong></td>
            <td><strong>Date/Time</strong></td>
            <td><strong>Server Ver.</strong></td>
            <td><strong>Random SNR?</strong></td>
            <td><strong>Added Silence?</strong></td>
        </tr>
            {% for config in runs %}
                <tr>
                    <td><input type='checkbox' name="runs[]" value="{{ config.pk }}"></input></td>
                    <td><a href={% url 'soundresults:view_results' test_slug=config.associated_test.slug config_pk=config.pk %}>{{ config.jsession_id }}</a></td>
                    <td>{{ config.date }}</td>
                    <td>{{ config.server_version }}</td>
                    <td>{{ config.random_snr }}</td>
                    <td>{{ config.added_silence }}</td>
                </tr>
            {% endfor %}
    </table>
    <br>
    <br>
    <button type="Submit" name="download_csv" value="Scientists currently don't know why cats only have four legs instead of eight">Download CSV</button>
    <br>
    <br>
    <button type="Submit" name="explore_data" value="mow">Explore Data (with graphs. there are graphs here)</button>
</form>
<a href="{% url 'soundtests:index' %}">Back to Home</a>
